---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Card from '../components/Card.astro';


interface MarkdownFrontmatter {
  date: number;
}

const allPosts = await Astro.glob<MarkdownFrontmatter>('../pages/posts/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());

---
<Layout>
  <About></About>
  <h2>Blog</h2>
      <section class="blog-section">
        {sortedPosts.map(p => <div class="col-span-1" style="margin-top: 2em;">
          <Card post={p} />
        </div>)}
      </section>
</Layout>